{% extends 'main/base.html' %}
{% load i18n %}
{% load static %}
{% block content %}
  {% if companies %}
    <div class="album py-5 bg-light">
      <div class="container">

        <div class="row">
          {% for company in companies %}
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                {% if company.photo_set.count %}
                   <img class="card-img-top"
                     data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
                     alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;"
                     src="{{ company.photo_set.all.first.image.url }}"
                     data-holder-rendered="true">
                {% else %}
                  <img class="card-img-top"
                     data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
                     alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;"
                     src="https://res.cloudinary.com/egorcloud/image/upload/v1621249116/votleq4mdqkx0stxbk1h.jpg"
                     data-holder-rendered="true">
                {% endif %}

                <div class="card-body">
                  <p class="card-text">{{ company.title }}</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <form method="POST" action="{% url 'delete-company' company.id %}" name="erase">
                        {% csrf_token %}
                        <a href="{% url 'company' company.id %}" class="btn btn-sm btn-outline-secondary">{% trans 'View' %}</a>
                        <a href="{% url 'update-company' company.id %}"
                           class="btn btn-sm btn-outline-secondary">{% trans 'Edit' %}</a>
                        <button type="submit" class="btn btn-sm btn-outline-danger">{% trans 'Delete' %}</button>
                      </form>
                    </div>
                    <small class="text-muted">{{ company.date_created|date:"F d, Y" }}</small>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  {% else %}
    <h2>{% trans 'You have no companies yet. Create one' %}</h2>
  {% endif %}

{% endblock %}

{% block script %}
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
  <script src="{% static 'js/my_companies_list.js' %}"></script>
{% endblock %}