{% extends 'main/base.html' %}
{% load crispy_forms_filters %}
{% load static %}
{% load cloudinary %}
{% load embed_video_tags %}
{% load i18n %}
{% block styles %}
  <link rel="stylesheet" href="{% static 'CSS/company_details.css' %}">
{% endblock %}
{% block content %}
  <div class="row">
    <!-- Post content-->
    <div class="col-lg-8">
      <!-- Title-->
      <h1 class="mt-4">{{ company.title }}</h1>
      <!-- Author-->
      <p class="lead">
        by {{ user.username }}
      </p>
      <hr>
      <!-- Date and time-->
      <p>Posted on {{ company.date_created|date:"F d, Y" }}</p>
      <hr>
      <!-- Image gallery -->
      <div class="row text-center text-lg-left">
        {% for photo in company.photo_set.all %}
          <div class="col-lg-3 col-md-4 col-6">
            <a href="{{ photo.image.url }}" class="d-block mb-4 h-100">
              <img class="img-fluid img-thumbnail" src="{{ photo.image.url }}" alt="">
            </a>
          </div>
        {% endfor %}
      </div>
      <hr>
      <!-- Post content-->
      <p> {{ company.description|safe }} </p>

      {% video object.video_url 'small' %}
      <hr>
      <!-- Rating form-->
      <form action="{% url 'add-rating' %}" method="POST" name="rating">
        <p class="lead">{% trans 'Rate this company' %}</p>
        {% csrf_token %}
        <span class="rating">
          {% for k, v in star_form.fields.star.choices %}
            <input type="hidden" value="{{ company.id }}" name="company">
            <input type="radio" id="rating{{ v }}" name="star" value="{{ v }}">
            <label for="rating{{ v }}">{{ k }}</label>
          {% endfor %}
        </span>
      </form>
      <hr>
      <!-- Comments form-->
      <div class="card my-4">
        <h5 class="card-header">{% trans 'Leave a Comment:' %}</h5>
        <div class="card-body">
          <form method="POST" action="{% url 'create-comment' company.id %}">
            {% csrf_token %}
            <div class="form-group">
              {{ comment_form|crispy }}
            </div>
            <button class="btn btn-primary" type="submit">Submit</button>
          </form>
        </div>
      </div>
      <!-- Comments-->
      {% for comment in company.comments.all %}
        <article class="media mb-3">
          <img class="rounded-circle article-img" src="{{ comment.author.userprofile.image.url }}" alt="">
          <div class="media-body">
            <div class="article-metadata">
              <small class="text-muted">{{ comment.author.username }}, </small>
              <small class="text-muted">{{ comment.published }}</small>
            </div>
            <p class="article-content">{{ comment.content }}</p>
          </div>
        </article>
      {% endfor %}
    </div>
    <!-- Sidebar widgets column-->
    <div class="col-md-4">
      <!-- Categories widget-->
      {#      <div class="card my-4">#}
      {#        <h5 class="card-header">Categories</h5>#}
      {#        <div class="card-body">#}
      {#          <div class="row">#}
      {#            <div class="col-lg-6">#}
      {#              <ul class="list-unstyled mb-0">#}
      {#                <li><a href="#!">Web Design</a></li>#}
      {#                <li><a href="#!">HTML</a></li>#}
      {#                <li><a href="#!">Freebies</a></li>#}
      {#              </ul>#}
      {#            </div>#}
      {#            <div class="col-lg-6">#}
      {#              <ul class="list-unstyled mb-0">#}
      {#                <li><a href="#!">JavaScript</a></li>#}
      {#                <li><a href="#!">CSS</a></li>#}
      {#                <li><a href="#!">Tutorials</a></li>#}
      {#              </ul>#}
      {#            </div>#}
      {#          </div>#}
      {#        </div>#}
      {#      </div>#}
      <!-- Side widget-->
      <div class="card my-4">
        <div class="card-body">
          <h3>This company needs</h3>
          <hr>
          <p class="lead">${{ company.goal }}</p>
          <hr>
          <button class="btn btn-outline-success" name="donate">{% trans 'Donate' %}</button>
          {% if company.author == user or user.is_superuser %}
            <a class="btn btn-secondary" href="{% url 'update-company' company.id %}">Update company</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block script %}
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
  <script src="{% static 'js/company_detail.js' %}"></script>
{% endblock %}