{% extends 'main/base.html' %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}
{% load static %}
{% block content %}
<main>
  <div class="py-5 text-center">
    <h2>Registration form</h2>
  </div>

  <div class="row g-5">
    <div class="col-md-4 order-md-2">
      <p class="lead">Already have an account? <br> <a href="{% url 'login' %}" class="btn btn-primary">Sign in</a></p>
    </div>
    <div class="col-md-7 col-lg-8">
      <h4 class="mb-3">Main Information</h4>
      <form class="needs-validation" method="POST">
        {% csrf_token %}
        {{ form|as_crispy_errors }}
        <div class="row g-3">
          <div class="col-sm-6">
            {{ form.first_name|as_crispy_field }}
          </div>

          <div class="col-sm-6">
            {{ form.last_name|as_crispy_field }}
          </div>

          <div class="col-12">
            <label for="email" class="form-label">Email</label>
              <div class="input-group has-validation">
                <span class="input-group-text">@</span>
                {{ form.email }}
                <div class="invalid-feedback">
                  Please enter a valid email
                </div>
              </div>
          </div>
          <div class="col-12">
            {{ form.username|as_crispy_field }}
          </div>


          <div class="col-12">
            {{ form.password|as_crispy_field }}
          </div>

          <div class="col-12">
            {{ form.confirm_password|as_crispy_field }}
          </div>

          <span id='message'></span>
        </div>

        <hr class="my-4">

        <button type="submit" class="mb-3" style="background: none; border: none;">
          <i class="fas fa-arrow-alt-circle-right fa-5x" style="margin-left: 50px"></i>
        </button>

      </form>
    </div>
  </div>
</main>
{% endblock %}
{% block script %}
  <script src="{% static 'js/register.js' %}"></script>
{% endblock %}